{% extends "trip/layout.html" %}
{% load static %}

{% block body %}
<div class="get-started">
    <div id="prompt">
        <h1>Let's get started</h1>
        {% if user.is_authenticated %}
            <button class="btn btn-lg base-btn" onclick="view_profile()">View Profile</button>
            <button class="btn btn-lg base-btn" onclick="toggle_option('#continue')">Begin Your Trip</button>
            <button class="btn btn-lg base-btn" onclick="log_out()">Logout</button>
        {% else %}
            <button class="btn btn-lg base-btn" onclick="toggle_option('#login')">Login</button>
            <button class="btn btn-lg base-btn" onclick="toggle_option('#signup')">Sign up</button>
            <button class="btn btn-lg base-btn" onclick="toggle_option('#continue')">Continue As Guest</button>
        {% endif %}
    </div>
    <form id="login-sign-up">
    </form>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'trip/start.js' %}"></script>
{% endblock %}